
html, body{
  height: 100%;
  width: 100%;
}

.Ticket{
  background-color: red;
  height: 10%;
  overflow: hidden;
  margin-top: 2%;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 98%;
  padding: 1%
}

.Ticket:hover{
  background-color:green;
}

.Landing{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #184c4c;
  color: white;
  text-align: center;
  padding-top: 15%
}

.Focus{
  padding-left: 2%;
  padding-right: 2%
}





